.btnc{
    padding:16px 48px;
    background-color: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.btnc:hover{
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px #ff7a00;
    border: 2px solid #ff7a00;
    transform: scale(0.9);
    color: #ff7a00;
}
.back{
    padding: 14px 35px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    max-width: 200px;
    margin: 20px;
    border-radius: 10px;
}
.back::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.4);
    top: 50%;
    transform: skew(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}
.back:hover{
    background-color: #ff7a00;
    color: #fff;
}
.back:hover::before{
    transform: skew(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}
/*===================================================================================*/
.top{
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: right;
}
.top img{
    height:50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
}

.top span p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
    font-weight: bold;
    color: rgb(194, 186, 186);
}

.main{
    margin-left: 310px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 3px 3px 3px gray;
    min-height: 400px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.856);
    float: left;
    width: 77%;
    height:70vh;
    overflow-x: scroll;
    overflow-y: scroll;
}
.main a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width:100vw;
}
.main a :hover{
    color: white;
    background-color: black;
    /*box-shadow: 3px 3px 3px white;*/
}
.all{
    margin-top:10px;
    margin-left: 310px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 3px 3px 3px gray;
    height: 60vh;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 75%;
    height:70vh;
    overflow-x: scroll;
    overflow-y: scroll;
}
.box{
    min-width: 100px;
    max-width: 200px;
    min-height: 70px;
    box-shadow: 1px 1px 3px gray;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    float: left;
    background-color: #ff7a00;
}

.bosco{
    width:40%;
    height: 100vh;
    left:0;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0%;
    float: left;
    box-shadow: 2px 2px 3px black;
}
.bosco p{
    margin-top: 50%;
    font-size: 5vh;
}
.lform{
    margin-left:20px;
    margin-top:10%;
    min-width: 400px;
    padding: 20px;
    float: left;
    border-left: 1px solid gray;
}
.lform label{
    display: block;
}
.lform button{
    display: block;
    margin-top: 20px;
}

.cp{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width:50vw;
    text-align: center;
    margin-left: 20%;
    box-shadow: 4px 4px 4px gray;
}
.profile{
    margin-top: 2%;
    margin-left: 40%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.bttm{
    margin: 10px;
}